/*
  font-family: 'Courgette', cursive;
  font-family: 'Fira Code', monospace;
  font-family: 'Merienda', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Yomogi', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Code&family=Merienda&family=Permanent+Marker&family=Yomogi&display=swap');

.aboutUS {
  margin-top: 50px;
  margin-left: 25px;
}
.titleAbus {
  padding: 20px
}
.titleAbus > h1 {
  text-shadow: 0 18px 29px;
  color: rgba(0, 89, 255, 0.705);;
}
.aboutus-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ab-us-font {
  width: 60%;
  padding: 5%;
  font-family: 'Courgette', cursive;
  font-size: 22px;
}
.ab-us-image {
  width: 40%;
  padding: 5%;
}
.poscontainer {
  display: flex;
  flex-direction: row;
  padding: 10px 80px;
}
.imagemind {
  width: 50%;
}
.fontmind {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
.fontmindOne {
  padding-left: 105px;
  text-shadow: 0 0 1px
}
.fontmindTwo {
  padding-left: 150px;
  text-shadow: 0 0 1px
}
.fontmindThree {
  padding-left: 125px;
  text-shadow: 0 0 1px
}
.fontmindFour {
  padding-left: 175px;
  text-shadow: 0 0 1px
}
.fontmindFive {
  padding-left: 150px;
  text-shadow: 0 0 1px
}
.developContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}
.developConteiner {
  align-self: center;
  text-align: center;
  padding: 35px 5px;
}
.s1 {
  width: 30%;
}
.s2 {
  width: 30%;
}
.s3 {
  width: 30%;
}
@media screen and (max-width: 760px) {
  .container {
    padding: 0;
  }
  .desdecon {
    display: none;
  }
  .ab-us-image {
    display: none;
  }
  .ab-us-font { 
    width: 100%;
  }
  .poscontainer {
    flex-direction: column;
    padding: 10px 30px;
  }
  .imagemind {
    width: 100%;
  }
  .fontmind {
    width: 100%;
    flex-direction: row;
    flex-flow: wrap;
    padding: 50px 10px;
  }
  .fontmindOne {
    padding-left: 0px;
  }
  .fontmindTwo {
    padding-left: 0px;
  }
  .fontmindThree {
    padding-left: 0px;
  }
  .fontmindFour {
    padding-left: 0px;
  }
  .fontmindFive {
    padding-left: 0px;
  }
  .s1 {
    width: 100%;
  }
  .s2 {
    width: 100%;
  }
  .s3 {
    width: 100%;
  }
}